name: Update Checker

env:
  REPO_URL: https://github.com/DragonBluep/openwrt
  REPO_BRANCH: airopi_ax3

on:
  workflow_dispatch:
#  schedule:
#    - cron: 0 */18 * * *

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Get latest commit hash
        id: getHash
        run: |
          HASH=$(git ls-remote $REPO_URL refs/heads/$REPO_BRANCH | cut -f1)
          echo "commitHash=$HASH" >> $GITHUB_OUTPUT

      - name: Check commit cache
        id: cacheHash
        uses: actions/cache@v4
        with:
          path: .commitHash
          key: openwrt-${{ env.REPO_BRANCH }}-${{ steps.getHash.outputs.commitHash }}

      - name: Save new commit hash
        if: steps.cacheHash.outputs.cache-hit != 'true'
        run: echo "${{ steps.getHash.outputs.commitHash }}" > .commitHash

      - name: Trigger build workflow
        if: steps.cacheHash.outputs.cache-hit != 'true'
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ github.token }}
          event-type: source-code-update

      - name: Cleanup old workflow runs
        uses: Mattraks/delete-workflow-runs@v2
        with:
          retain_days: 0
          keep_minimum_runs: 2
